.enterprise-section {
  padding: 3.25rem 0;
}

.enterprise-title {
  margin-bottom: 1rem;
}

.enterprise-text {
  padding: 0 1.75rem;
}

.enterprise-desc {
  padding: 1rem 2.75rem;
}

.enterprise-btn {
  margin-top: 1rem;
}
