.footer-section {
  text-align: center;
}

.logo {
  font-family: var(--poppins-font);
  font-size: var(--r30);
  font-weight: 700;
  text-transform: capitalize;
}

.logo-text {
  color: var(--dark-blue);
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list-link {
  margin: 0 0.5rem;
}

.footer-list-wrap {
  margin-bottom: 2rem;
}

.footer-list-title {
  font-family: var(--poppins-font);
  font-size: var(--r20);
  font-weight: 500;
  color: var(--dark-gray);
  margin-bottom: 1rem;
}

.footer-list-link {
  font-family: var(--poppins-font);
  font-size: var(--r16);
  font-weight: 400;
  color: var(--dark-gray);
  display: block;
  margin-bottom: 0.5rem;
}

.footer-email-text {
  font-family: var(--poppins-font);
  font-size: var(--r20);
  font-weight: 500;
  color: var(--dark-gray);
  margin-bottom: 1.5rem;
}

.footer-email-input {
  border: 1px solid var(--blue-white);
  border-radius: 4px;
  height: 48px;
  display: block;
  width: 100%;
}

.footer-btn {
  font-family: var(--poppins-font);
  font-size: var(--r16);
  font-weight: 700;
  padding: 0.5rem 1rem;
  background-color: var(--light-green-color);
  color: var(--white-color);
  border-radius: 4px;
  margin: 2rem 0;
  cursor: pointer;
}

.footer-text {
  font-family: var(--poppins-font);
  font-size: var(--r16);
  font-weight: 400;
  color: var(--dark-gray);
}

@media only screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }

  .footer-email {
    width: 18.125rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer-wraper {
    display: flex;
    justify-content: space-between;
  }

  .footer-wrap {
    flex: 2;
  }

  .footer-form {
    flex: 1;
    text-align: left;
  }
}

