<footer class="footer-section">
    <div class="footer-wraper">
        <div class="footer-wrap">
            <div class="footer-logo-social">
                <h1 class="logo"><a href="" class="logo-text"><img src="/src/assets/images/logos/logo.png" alt="Logo" class="logo-image">product</a></h1>
                <div class="footer-social">
                    <ul class="footer-social-list">
                        <li>
                            <a href="" class="footer-social-list-link"><img src="/src/assets/images/icons/instagram.png" alt="Instagram icon"></a>
                        </li>
                        <li>
                            <a href="" class="footer-social-list-link"><img src="/src/assets/images/icons/facebook.png" alt="Facebook icon"></a>
                        </li>
                        <li>
                            <a href="" class="footer-social-list-link"><img src="/src/assets/images/icons/twitter.png" alt="Twitter icon"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-list-wrap">
                <h3 class="footer-list-title">Resource</h3>
                <ul class="footer-list">
                    <li><a href="" class="footer-list-link">About Us</a></li>
                    <li><a href="" class="footer-list-link">Blog</a></li>
                    <li><a href="" class="footer-list-link">Contact</a></li>
                    <li><a href="" class="footer-list-link">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-list-wrap">
                <h3 class="footer-list-title">Legal Stuff</h3>
                <ul class="footer-list">
                    <li><a href="" class="footer-list-link">Disclaimer</a></li>
                    <li><a href="" class="footer-list-link">Financing</a></li>
                    <li><a href="" class="footer-list-link">Privacy Policy</a></li>
                    <li><a href="" class="footer-list-link">Terms of Service</a></li>
                </ul>
            </div>
        </div>
        <form action="" class="footer-form">
            <div class="footer-email">
                <label for="email" class="footer-email-text">knowing you're always on the best energy deal.</label>
                <input id="email" type="email" class="footer-email-input">
            </div>
            <button type="submit" class="footer-btn">Sign up Now</button>
        </form>
    </div>
    <p class="footer-text">Made With Love By Figmaland All Right Reserved</p>
</footer>