<header class="header-section">
  <nav class="navbar p-3 navbar-expand-md navbar-light mx-lg-5 px-lg-5 border-sm-bottom ">
    <h1 class="logo m-0"><a href="" class="logo-text"><img src="/src/assets/images/logos/logo.png" class="mr-2 align-self-center" alt="Logo">Product</a></h1>
    <button class="navbar-toggler border-0 btn btn-outline-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <img src="/src/assets/images/icons/hamburger.png"  alt="Hamburger button">
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
      <ul class="navbar-nav">
        <li class="navbar-list"><a href="" class="navbar-list-link">product</a></li>
        <li class="navbar-list"><a href="" class="navbar-list-link">customers</a></li>
        <li class="navbar-list"><a href="" class="navbar-list-link">pricing</a></li>
        <li class="navbar-list"><a href="" class="navbar-list-link">resources</a></li>
      </ul>
      <div class="btn-wrap">
        <button class="nav-sign-in">sign in</button>
        <button class="nav-sign-up">sign up</button>
      </div>
        <img src="/src/assets/images/icons/light-dark.png" alt="Light Dark Mode" class="light-dark-btn">
    </div>
  </nav>
</header>