<section class="pricing-section" >
    <h3 class="pricing-title">Pricing</h3>
    <h3 class="pricing-text">Let's get some real work done here.</h3>
    <p class="pricing-desc">Product is your perfect solution for working. Get started now for free</p>
    <div class="pricing-card-wrap">
        <a class="pricing-card">
            <h3 class="card-title">Free</h3>
            <p class="card-desc">Brief price description</p>
            <h2 class="card-price">0 
                <sup class="price-dollar">$</sup>
                <sub class="price-expiry">Per / Month</sub>
            </h2>
            <p class="card-text">Only 2 Operators</p>        
            <p class="card-text">Notifications</p>        
            <p class="card-text">Landing Pages</p>   
            <button class="card-btn">Order Now</button>     
        </a>
        <a class="pricing-card">
            <h3 class="card-title-chose">Standard</h3>
            <p class="card-desc-chose">Brief price description</p>
            <h2 class="card-price-chose">5 
                <sup class="price-dollar-chose">$</sup>
                <sub class="price-expiry-chose">Per / Month</sub>
            </h2>
            <p class="card-text-chose">5+ Operators</p>        
            <p class="card-text-chose">Notifications</p>        
            <p class="card-text-chose">Landing Pages</p>   
            <button class="card-btn-chose">Order Now</button>     
        </a>
        <a class="pricing-card">
            <h3 class="card-title">Premium</h3>
            <p class="card-desc">Brief price description</p>
            <h2 class="card-price">10 
                <sup class="price-dollar">$</sup>
                <sub class="price-expiry">Per / Month</sub>
            </h2>
            <p class="card-text">Only 3 Operators</p>        
            <p class="card-text">Notifications</p>        
            <p class="card-text">Landing Pages</p>   
            <button class="card-btn">Order Now</button>     
        </a>
    </div>
</section>