<section class="product-section">
    <h3 class="product-title">Product is being used with great effects alongside:</h3>
    <div class="product-content">
        <img src="/src/assets/images/product/study.png" alt="Study image" class="study-img">
        <img src="/src/assets/images/product/product.png" alt="Devices image" class="product-img">
        <div class="product-benefit-wrap">
            <article class="product-benefit">
                <h3 class="product-benefit-title"><img src="/src/assets/images/icons/enterpreneur.png" alt="Enterpreneur icon" class="product-benefit-icon">Enterpreneur</h3>
                <p class="product-benefit-desc">Product is a great way to help medium and samall enterprise owners achieve their goals</p>
            </article>
            <article class="product-benefit">
                <h3 class="product-benefit-title"><img src="/src/assets/images/icons/accountants.png" alt="Accountants icon" class="product-benefit-icon">Accountants</h3>
                <p class="product-benefit-desc">Whether you are working on contract with clients, or on other key accounting documents, Product is for you</p>
            </article>
            <article class="product-benefit">
                <h3 class="product-benefit-title"><img src="/src/assets/images/icons/universities.png" alt="Universities icon" class="product-benefit-icon">Universities</h3>
                <p class="product-benefit-desc">Organize university projects and have documents easily graded online with Product</p>
            </article>
        </div>
    </div>
</section>