<section class="question-section">
    <h3 class="question-title">Frequently asked question</h3>
    <p class="question-desc">Something is not clear? You need help? Check our FAQ section</p>
    <div class="question-ask-wrap">  
        <article class="question-ask-toggle">
           <h4 class="question-ask">
              <img src="/src/assets/images/icons/plus-circle.png" class="question-icon" alt="click icon"> What are my payment option?
           </h4>
           <p class="question-ask-answer">After creating your account you will have an oppurtunity to create your first project that will be associated withthe collaborators e-mail. An invitation  will be sent automatically. Then, invited user will have to confirm his account by e-mail and finish userd onboarding.</p>
        </article>
        <article class="question-ask-toggle">
            <h4 class="question-ask">
               <img src="/src/assets/images/icons/minus-circle.png" class="question-icon" alt="click icon"> How can I invite collaborator to platform?
            </h4>
            <p class="question-ask-answer-toggle">After creating your account you will have an oppurtunity to create your first project that will be associated withthe collaborators e-mail. An invitation  will be sent automatically. Then, invited user will have to confirm his account by e-mail and finish userd onboarding.</p>
        </article>
        <article class="question-ask-toggle">
           <h4 class="question-ask">
              <img src="/src/assets/images/icons/plus-circle.png" class="question-icon" alt="click icon"> Can I upgrade my plan?
           </h4>
           <p class="question-ask-answer">After creating your account you will have an oppurtunity to create your first project that will be associated withthe collaborators e-mail. An invitation  will be sent automatically. Then, invited user will have to confirm his account by e-mail and finish userd onboarding.</p>
        </article>
        <article class="question-ask-toggle">  
           <h4 class="question-ask">
              <img src="/src/assets/images/icons/plus-circle.png" class="question-icon" alt="click icon"> Can I cancel my plan at anytime?
           </h4>
           <p class="question-ask-answer">After creating your account you will have an oppurtunity to create your first project that will be associated withthe collaborators e-mail. An invitation  will be sent automatically. Then, invited user will have to confirm his account by e-mail and finish userd onboarding.</p>
        </article>
    </div>
</section>